.signin {
    width: 100%; 
    height: 100%;
    padding-top: 20vh;

    .box-signin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // gap: 30px;

        img {
            width: 156px;
            height: 156px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
            justify-content: center;
            align-items: center;
            background: #3d4abf;
            border-radius: 20px;
            width: 55vw;
            padding: 20px 2px 0 2px;

            h3 {
                font-weight: 900;
                font-size: 30px;
                line-height: 40px;
                text-align: center;
                color: #FFFFFF;
            }

            label {
                font-weight: 400;
                font-size: 20px;
                margin-left: 50px;
                line-height: 20px;
                color: #FFFFFF;
            }

            input::placeholder {
                color: black;
                height: 100%;
                padding-left: 10px;
                // height: 40px;
            }
            input {
                border-radius: 15px;
                margin-left: 45px;
                margin-right: 45px;
                margin-top: 15px;
                height: 40px;
                padding: 0;
            }

            .form-sign {
                display: flex;
                flex-direction: column;
                gap: 40px;
                width: 100%;
                padding: 0px 80px;

                .inputBox {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                    height: 100px;
                }

                .inputBox2 {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                    margin-left: 170px;
                    height: 100px;
                }

                .box-b {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 130px;
                }

                a {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 40px;
                    text-align: center;
                    text-decoration-line: underline;
                    color: #FFFFFF;
                    background: transparent;
                    margin: 0;
                    text-transform: initial;
                }

                button {
                    font-weight: 500;
                    font-size: 16px;
                    text-align: center;
                    color: #000000;
                    background: #FFFFFF;
                    border-radius: 20px;
                    width: 70%;
                    text-transform: initial;
                    // padding: 10px 10px;
                }

                .ggl-b {
                    display: flex !important;
                    justify-content: center;
                    border: 0px !important;
                    border-radius: 3px !important;
                    color: white !important;
                    cursor: pointer;
                    font-size: 19px !important;
                    width: calc(100% - 10px) !important;
                    user-select: none;
                    height: 50px !important;
                    background: transparent !important;
                    border: 0;
                    text-align: center !important;
                    align-items: center !important;
                    margin: 0 !important;
                    padding: 0  !important;
                }

                .ggl-b:hover {
                    text-decoration: underline;
                }
            }

        }
    }
}